body {
  margin: 0;
  color: black;
  background-color: firebrick;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;
}

div {
  background-color: whitesmoke;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-shrink: 0;
}

h1 {
  padding: 20px;
  font-size: 20px;
}
